<!DOCTYPE html>
<html lang="en">

<head>
<!--   <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | prepend: site.baseurl }}"> -->
  <script src="{{ "/assets/js/vendors.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/app.min.js" | prepend: site.baseurl }}"></script>

<!--   {% include landing-page.html %} -->
  <div id="landing">
  <div class="landing-title">
    <h1>Hi, I am Nwafor Chibundo
    </h1>
    <h1>
      <span id="txt-rotate" data-period="2000"
        data-rotate='["Nwafor is a guru", "scroll down for more."]'
      >
    </h1>
    <h1>
      <span id="txt-rotate" data-period="2000"
        data-rotate='["Nwafor is a guru", "scroll down for more."]'
      >
      </span>

  <div class="layout">
</head>

</html>
